@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

/* ----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Geneva, Tahoma, sans-serif;
}
.kaushan-script-regular {
    font-family: "Kaushan Script";
    font-weight: 500;
    font-style: normal;
  }
.allura-regular {
    font-family: "Allura", serif;
    font-weight: 400;
    font-style: normal;
    
}
:root{
    --brand-t-color: #999999;
    --brand-2-t-col: #f6f9fd;
    --brand-3-t-col: #0c0c0c;
    --brand-bg-col: #000000;
    --brand-gray-col: #ebebec ;
}
.cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
html,body{
    scroll-behavior: smooth;    
}

/* form */
.formm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    z-index:90;
    position: fixed;
    display: none;
    background-image: url();
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
  max-width: 500px;
  border-radius: 1rem;
  padding: 5px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  z-index: 15;
  position: absolute;
  backdrop-filter: brightness(30%);
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 4vw;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%, -5);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  min-width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
#remember {
  accent-color: #fff;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}
.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: var(--brand-bg-col);
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

/* -------- */
body{
    overflow-x: hidden;
    background: var(--brand-bg-col);
    /* cursor: none; */
    width: 100%;
}
body::-webkit-scrollbar{
    width: 0 !important;
}

/* start nav here */
.nav-cantainer{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 1.8rem;
    font-size: large;
    z-index: 9;  
    /* mix-blend-mode: difference;   */
}
.inner-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 8vh;  
    padding: 5px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--brand-bg-col);
}
.nav-left{
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-left a span{
    color: var(--brand-2-t-col); 
    transition: all .5s ease-in-out;  
}
.nav-left img{
    width: 70px;
}

.nav-center{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}
.nav-center ul{
    gap: 2rem;
}
.nav-center li {
    letter-spacing: 1px;
    cursor: url(./cathand.png), auto ;
    
}
.nav-center li a{
    transition: all .2s ease-in-out ;
    font-family: monospace;
    color: var(--brand-t-color);
}
.nav-center li a:hover{
    color: var(--brand-2-t-col);

}

.nav-right button{
    padding: 13px 15px ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 1.1px;
    font-family: monospace;
    border-radius: .5rem;   
}
button{
    cursor: pointer;
    transition: all .1s ease-in-out;
}

button:hover{
    animation: rotate .6s ease-in-out ;
}
.nav-right .sign-in{
    background-color: var(--brand-bg-col);
    color: var(--brand-2-t-col);
    border: .2px solid #272727;
}
.nav-right .sign-in:hover{
    border: .2px solid var(--brand-t-color);
}
.nav-right .purchase{
    background-color: var(--brand-2-t-col);
    color: var(--brand-bg-col);
    font-size: .9rem;
}
.nav-right .purchase:hover{
    background-color: var(--brand-gray-col);  
}

.nav-end{
    display: none;
}

.side-nav{
    display: none;
}

/* navbar end */

/* hero section */

.hero{
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-2-t-col);
    padding-top: .7rem;
    display: flex;
    align-items: end;
    overflow: hidden;
    padding-top: 7rem;
}
.hero .inner-cnt{
    /* background-image: url(https://images.unsplash.com/photo-1602206475572-be526e184555?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-image: url(https://storage.googleapis.com/buro-malaysia-storage/www.buro247.my/2024/03/095c6c8c-01b-full-width-lv-the-place-bangkok.jpg);
    background-image: url(https://images.unsplash.com/photo-1602939971798-b0ac641fba87?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-image: url(https://vmagazine.com/wp-content/uploads/2023/01/1.jpg);    */
    background-color: var(--brand-gray-col);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 97vw;
    height: 95vh;
    border-radius: 2rem;  
    padding-bottom: 2rem;
    position: relative;
}

.hero-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-btn button{
    padding: 8px 15px ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 1.1px;
    font-family: monospace;
    border-radius: .5rem;   
}
button{
    cursor: pointer;
    transition: all .1s ease-in-out;
}

button:hover{
    animation: rotate .6s ease-in-out ;
}
.hero-btn .sign-in{
    background-color: var(--brand-bg-col);
    color: var(--brand-2-t-col);
    border: .2px solid #272727;
}
.hero-btn .sign-in:hover{
    border: .2px solid var(--brand-t-color);
}
.hero-btn .purchase{
    background-color: var(--brand-2-t-col);
    color: var(--brand-bg-col);
    font-size: .9rem;
}
.hero-btn .purchase:hover{
    background-color: var(--brand-gray-col);  
}

/* .inner-cnt .play{
    opacity: 0;
    scale: 0;
    padding: 3vh 1.3vw;
    background: #6e6e6e;
    font-weight: 600;
    border-radius: 50%;
    position: fixed ;
    top: 0;
    left: 0;
    z-index: 99;
} */
/* lv-slider sectiom  */
.lv-slider{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: aliceblue;
    text-transform: uppercase;
    font-family: Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding: 0rem 2.5rem;
}
.lv-slider h1{
    font-size: 450px;
    white-space: nowrap;
}

/* headline section */
.headline{
    color: var(--brand-2-t-col);
    height: 30vh;
    width: 100%;
}
.headline h1{
    letter-spacing: 3px;
    font-style: 5rem;
}

/* store */
.store{
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.pinimg.com/1200x/07/eb/ef/07ebef492a0fbdab0663e9c3a5b48152.jpg');
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

/* show-bags section */
.show-bags{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    text-transform: uppercase;
    overflow: hidden;
}

.show-bags div{
    background: #c2c1c1;
    height: 500px;
    width: 500px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.show-bags .bag-show-1{
    background-image: url(https://th.bing.com/th/id/OIP.FZ_KAJMf0JlYnGKnmDV9oAAAAA?rs=1&pid=ImgDetMain);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.show-bags .bag-show-1:hover{
    filter:grayscale();
    cursor: pointer;
}
.show-bags .bag-show-2{
    background-image: url(https://fraguru.com/mdimg/secundar/o.65474.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* show-bags-2 start from here  */
.show-bags-2{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    text-transform: uppercase;
    overflow: hidden;
}
.show-bags-2 div{
    background: #c2c1c1;
    height: 500px;
    width: 500px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.show-bags-2 .bag-show-1{
    background-image: url(https://tungluxury.com/wp-content/uploads/2023/02/giay-louis-vuitton-lv-trainer-54-damier-ebene-multi-like-auth-3.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.show-bags-2 .bag-show-2{
    background-image: url(https://theluxurylifestylemagazine.com/wp-content/uploads/2023/02/gold-edition.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* show-bags-3 start from here  */
.show-bags-3{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    text-transform: uppercase;
    overflow: hidden;
}
.show-bags-3 div{
    background: #c2c1c1;
    height: 500px;
    width: 500px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.show-bags-3 .bag-show-1{
    background-image: url(https://us.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-signature-short-hooded-wrap-coat-ready-to-wear--FPCO38RO1630_PM1_Cropped%20worn%20view.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.show-bags-3 .bag-show-2{
    background-image: url(https://www.lulux.ru/wp-content/uploads/2021/03/Louis-Vuitton-Women-Giant-Monogram-Jacquard-Wrap-Coat-in-Camel-Wool-Regular-Fit-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  */
.show-perfume{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.show-perfume img{
    height: 60%;
}

/* ----------------------------------------------- */


@media (width <= 1024px) {

/* start nav here */
.nav-cantainer{
    
    width: 100%;
    height: 8vh;
    position: fixed;
    top: .4rem;
    font-size:small;
    z-index: 99;  
}
.inner-nav{
    width: 88vw; 
    height: 5vh;
    padding: 2px 10px 2px 2px;
}
.nav-left{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .5px;
}
.nav-left img{
    width: 30px;
}
/* nav end  */
.nav-end{
    display: block;
    color: var(--brand-2-t-col);
}
.nav-end div{
    font-size: 1.2rem;
}

.nav-center{
    display: none;
}
.nav-right {
    display: none; 
}

.side-nav{
    display: none;
}

.side-nav ul li{
    width: 100%;
    font-weight: 800;
    padding: 10px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* navbar end */

/*  */

.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-2-t-col);
    padding-top: 8rem;
    padding: 4.8rem 1rem 1rem;
}
.hero .inner-cnt{
    width: 97vw;
    height: 90vh;
    border-radius: 1.5rem;
    background-image: url(https://vmagazine.com/wp-content/uploads/2023/01/1.jpg);
    background-size: cover;
    background-position: center;
    /* filter: brightness(30%) ; */
}
    
/* lv-slider sectiom  */

.lv-slider{
    display: none;
    overflow: hidden;
}

/* ----- */

.headline{
    height: 10vh;
    transform: translateY(10vh);
}

.show-perfume{  
    margin: 0;
    /* height: 60vh; */
}

/* --- */

.show-bags{
    height: 20%;
    flex-direction: row;
    gap: 4rem;
    /* background-color: brown; */
}
.show-bags div{
    height: 250px;
    width: 250px;
}
.show-bags-2{
    height: 50%;
    margin: 5rem 0px;
    
}
.show-bags-2 div{
    height: 250px;
    width: 250px;
}
.show-bags-3{
    /* display: none; */
    height: 50%;
    margin: 4rem 0px;
    flex-direction: row;
    gap: 4rem;
}
.show-bags-3 div{
    height: 250px;
    width: 250px;
}

/* ---------- */


}

/* ------------------- */

@media (width < 768px) {

    .hero .inner-cnt{
        height: 90dvh;
    }

    .show-bags{
        height: 20%;
        flex-direction: column;
        gap: 4rem;
        /* background-color: brown; */
    }
    .show-bags-2{
        flex-direction: column;
        gap: 50px;
    }

    
    .headline{
        height: 10vh;
        transform: translateY(15vh);
        display: block;
        height: 14vh;
    }
}

.store{
    /* display: none; */
    margin-top: 20px;
}

/* ----------------- */

@media (width <= 500px) {

    
    .wrapper {
      max-width: 500px;
      min-width: 200px;
      border: none;
      padding: 5px;
      text-align: center;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px); 
      z-index: 15;
      position: absolute;
      backdrop-filter: brightness(30%);
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    h2 {
      display: none;
    }
    .input-field {
      position: relative;
      border-bottom: 2px solid #ccc;
      margin: 15px 0;
    }
    .input-field label {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%, -5);
      color: #fff;
      font-size: 16px;
      pointer-events: none;
      transition: 0.15s ease;
    }
    .input-field input {
      min-width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      color: #fff;
    }
    .input-field input:focus~label,
    .input-field input:valid~label {
      font-size: 0.8rem;
      top: 10px;
      transform: translateY(-120%);
    }
    .forget {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 0 35px 0;
      color: #fff;
      font-size: 10px;
    }
    #remember {
      accent-color: #fff;
    }
    .forget label {
      display: flex;
      align-items: center;
    }
    .forget label p {
      margin-left: 8px;
    }
    .wrapper a {
      color: #efefef;
      text-decoration: none;
    }
    .wrapper a:hover {
      text-decoration: underline;
    }
    button {
      background: var(--brand-bg-col);
      color: #000;
      font-weight: 600;
      border: none;
      padding: 2px 2px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      border: 2px solid transparent;
      transition: 0.3s ease;
    }
    button:hover {
      color: #fff;
      border-color: #fff;
      background: rgba(255, 255, 255, 0.15);
    }
    .register {
      text-align: center;
      margin-top: 16px;
      color: #fff;
    }

    
/* start nav here */
nav-cantainer{
    width: 320px;
    height: 8vh;
    position: fixed;
    top: 0;
    font-size:small;
      
}

.store{
    /* display: none; */
}

/* lv-slider sectiom  */

#lv-slider{
    display: none;
}

}